@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eee;
}

main {
  max-width: 50em;
  margin: 0 auto;
  padding: 3em;
  background: #fff;
  box-shadow: 0 0 1em rgba(0,0,0,.1);
}

* {
  font-family: 'Roboto', sans-serif;
}

img, video {
  max-width: 100%;
}

p, li, pre {
  font-size: 1.2rem;
}

p, img {
  margin: .8em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 2em 0 .5em;
  font-weight: 700;
}

li p {
  margin: .5em 0;
}

header { text-align: center; }
header h1 { margin: 0 0 1em; }
header h2 { margin: 1em 0 3em; }
header p { margin: .5em 0; }

pre, code {
  font-family: 'Roboto Mono', monospace;
}

pre {
  overflow: auto;
}

