<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- <title>{% if page.title %}{{ page.title }}{% else %}Anonymous Website{% endif %}</title> -->
<title>Anonymous Website</title>
<link rel="stylesheet" href="{{ site.baseurl }}/style.css?v={{ site.time | date:'%s' }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
<body>
<main>
{{ content }}
</main>
</body>
</html>
